body {
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 40px;
  }
  
  input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
  }
  
  input {
    width: 200px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .hidden {
    display: none;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  #userList {
    margin-top: 10px;
    background-color: #2e2e40;
    padding: 10px;
    border-radius: 8px;
    min-height: 100px;
    min-width: 200px;
  }
  
  .mic-on {
    background-color: #28a745; /* yeşil */
    color: white;
  }
  
  .mic-off {
    background-color: #dc3545; /* kırmızı */
    color: white;
}

.disconnect-btn {
    background-color: #dc3545;
    margin-left: 10px;
}

.disconnect-btn:hover {
    background-color: #c82333;
}